<div class="side-bar bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center"><b>Mobile Shop</b></div>
    <div class="profile">
      <div class="profile-pic">
        <img src="/admin_assets/admin.jpg" alt="">
      </div>
      <div class="profile-info">
        <span>Welcome</span>
        <h5>Administrator</h5>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <ul id="menu">
        <li>
          <a href="/admin" class="list-group-item list-group-item-action">
            Trang chủ <i class="menu-icon fa fa-laptop"></i>
          </a>
        </li>
        <li>
          <a href="/admin/brand-management" class="list-group-item list-group-item-action">
            Quản lý thương hiệu <i class="menu-icon fas fa-mobile-alt font-list"></i>
          </a>
        </li>
        <li>
          <a href="/admin/product-management" class="list-group-item list-group-item-action">
            Quản lý sản phẩm <i class="menu-icon fas fa-shopping-cart font-list"></i>
          </a>
        </li>
        <li>
          <a href="/admin/order-management" class="list-group-item list-group-item-action">
            Quản lý đơn hàng <i class="menu-icon fas fa-archway"></i>
          </a>
        </li>
        <li>
          <a href="/admin/user-management" class="list-group-item list-group-item-action">
            Quản lý người dùng <i class="menu-icon fas fa-users font-list"></i>
          </a>
        </li>
        <!-- <li>
          <a href="/admin-manager-recipt.html" class="list-group-item list-group-item-action">
            Thống kê <i class="menu-icon fas fa-phone-slash"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>

  

  <script>
    // Lấy URL hiện tại
    const currentPath = window.location.pathname;
  
    // Tìm tất cả các liên kết
    const menuItems = document.querySelectorAll('#menu a');
  
    menuItems.forEach((item) => {
      if (item.getAttribute('href') === currentPath) {
        // Thêm class 'active' vào liên kết hiện tại
        item.classList.add('active');
      } else {
        // Xóa class 'active' khỏi các liên kết không phù hợp
        item.classList.remove('active');
      }
    });
  </script>