<!-- page-header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-breadcrumb">
          <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li>Giỏ hàng</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page-header-->
<!-- cart-section -->

<div class="container">
  <div class="cart-content mt30 mb30">
    <div class="title-header mb20">
      <h2 class="title">Giỏ Hàng</h2>
      <p>
        <span class="text-blue">{{ this.count }}</span> sản phẩm trong giỏ hàng
        của bạn
      </p>
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>
            <div class="item-center pdl10">
                <input type="checkbox" class="checkboxStyle" (change)="onSelectAll($event)" />
            </div>
          </th>
          <th>Sản phẩm</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Thành tiền</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>
            <div class="item-center pdl10">
                <input
                type="checkbox"
                class="checkboxStyle"
                (change)="onCheckboxChange(item.productId, $event)"
                [checked]="selectedProductIds.includes(item.productId)" 
              />
            </div>
          </td>
          <td>
            <div class="product-title item-center">
              <div class="box_img">
                <img
                [src]="'data:image/jpeg;base64,' + item.imageUrl"
                  alt="{{ item.productName }}"
                />
              </div>
              <div>
                <p>{{ item.productName }}</p>
                <p>Màu sắc: {{ item.color }}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="item-center">{{ formatCurrency(item.price) }}</div>
          </td>
          <td>
            <div class="item-center">
              <div class="quantity">
                <input
                  class="btn-quantity decrease-quantity"
                  (click)="dcQuantity(item.productId)"
                  type="button"
                  value="-"
                />
                <input
                  type="number"
                  max="10"
                  min="1"
                  name="quantity"
                  [value]="item.quantity"
                  class="quantity-input"
                />
                <input
                  class="btn-quantity increase-quantity"
                  (click)="icQuantity(item.productId)"
                  type="button"
                  value="+"
                />
              </div>
            </div>
          </td>
          <td>
            <div class="item-center text-red">
              {{ formatCurrency(item.totalPrice) }}
            </div>
          </td>
          <td>
            <div class="item-center pinside10">
              <i
                class="far fa-trash-alt"
                (click)="onRemoveItem(item.productId)"
              ></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="prices-summary">
      <div class="left-content">
        <button class="btn_delete" (click)="onDeleteMultiCartItem()">Delete</button>
        <a href="/products" class="derection-product text-blue"
          ><i class="fas fa-long-arrow-alt-left"></i> Tiếp tục mua hàng</a
        >
      </div>
      <div class="right-con">
        <div class="total-receipt">
          <div class="promotion-code pinside20">
            <input
              type="text"
              class="input-code"
              [(ngModel)]="discountCode"
              placeholder="Nhập mã ưu đãi"
            />
            <button
              type="submit"
              (click)="applyDiscountCode()"
              class="submit-code btn-default"
            >
              Áp dụng
            </button>
          </div>
          <ul class="prices pinside20">
            <li class="prices-item">
              <span class="prices-text">Tạm tính</span>
              <span class="prices-value">{{
                totalBeforeDiscount | currency : "VND"
              }}</span>
              <!-- Tạm tính -->
            </li>
            <li class="prices-item">
              <span class="prices-text">Giảm giá</span>
              <span class="prices-value">{{
                discountAmount | currency : "VND"
              }}</span>
              <!-- Giảm giá -->
            </li>
          </ul>
          <div class="prices-total pinside20">
            <span class="price-text">Tổng cộng</span>
            <span class="prices-value prices-final text-red">{{
              totalAmount | currency : "VND"
            }}</span>
            <!-- Tổng cộng -->
          </div>
        </div>
        <a (click)="onCheckOut()" class="btn-default btn-checkout">Mua Hàng</a>
      </div>
    </div>
  </div>
</div>
