<!-- /. header-section-->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="">Trang chủ</a></li>
                        <li>Quên mật khẩu</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- login-form -->

<div class="content">
    <div class="forgot-container">
        <img src="assets/images/lock-forgot-password.png" alt="">
        <h1 class="title">Nhập email đã đăng kí</h1>
      
        <form (ngSubmit)="onSubmit(forgotpassword)" #forgotpassword="ngForm">
            <input type="email" class="field-email" placeholder="Nhập email" name="email" [(ngModel)]="model.email" #email = "ngModel">
            <div
                *ngIf="email.errors?.['invalidEmail'] && (email.touched || forgotpassword.submitted)"
                style="    position: relative;
                left: 0;
                top: -22px;
                text-align: left;"
                class="text-danger"
            >
                Email không hợp lệ.
            </div>
            <button type="submit" class="submit-email">OK</button>
        </form>
    </div>
</div>